# Ignore virtual environments
.tf-env/
.venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Terraform directories
**/.terraform/

# Terraform state files
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfstate
**/*.tfstate.backup

# Terraform plan files
*.tfplan

# Docker
docker-compose.override.yml

# Ignore large model or dataset files
*.h5
*.pkl
*.joblib
*.csv
*.zip
*.pt
*.ckpt

# Ignore system files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archives / Large Files
*.tar
*.tar.gz

# Logs & Runtime Files
# logs/
# *.log

# Ignore the actual log contents
ledger/*.jsonl
reports/*.json

# But ! (Exclamation) means "Don't ignore this specific file"
!ledger/.gitkeep
!reports/.gitkeep

node_modules/